@font-face {
    font-family: "decorativa";
    src: url(../fonts/BadScript-Regular.ttf);
}
@font-face {
    font-family: "padrao";
    src: url(../fonts/Quicksand-Regular.ttf);
}
$fonte-decorativa: "decorativa";
$fonte-padrao: "padrao";