@font-face {
    font-family: "decorativa";
    src: url(../fonts/Satisfy-Regular.ttf);
}
@font-face{
    font-family: "padrao";
    src: url(../fonts/Muli-Regular.ttf);
}

$fonte-decorativa:"decorativa";
$fonte-padrao: "padrao";