@import 'cores';
@import 'fontes';

body{
    margin:0;
}

#header{
    background-color: $cor-header;
    padding: 10px 20px; 
    margin-bottom: 10px;
    
    *{
        display: inline;
        vertical-align: middle;
    }

    img{
        width: 80px;
        margin-right: 20px;
    }

    h1{
        font-family: $fonte-decorativa;
        color: white;
        text-shadow: 2px 2px #555;
    }
}

#formularioContato{

    padding: 10px;
    border: 1px solid $cor-borda;
    width: 95%;
    margin: auto;

    label, input{
        display: block;
        font-family: $fonte-padrao;
    }

    input{
        margin-bottom: 10px;
       
        height: 25px;
        font-size: 100%;
        /*Opcional*/
        border-radius: 5px;
        border: 1px solid #aaaaaa;
        padding-left: 5px;

        &[type=text],&[type=email]{
            width: 300px;
        }
        &[type=tel]{
            width: 150px;
        }
        &[type=date]{
            width: 150px;
        }
        &[type=submit]{
            padding: 10px 20px;
            /* none não funciona, inherit é o comportamento 
            padrão de altura dos componentes externos (form nesse caso)*/
            height: inherit;
            background-color: $cor-botao-primario;
            border: none;
            color: white;
        }
    }

}
#tabelaContatos{
    font-family: $fonte-padrao;
    margin-top:20px;

    table{
        border-collapse: collapse;
        //border:1px solid $cor-borda;
        margin: 0px auto 50px auto;
        width: 95%;
    }

    thead{
        background-color: $cor-header;
        color:white;
    }

    tr{
        &:hover{
            td{
                background-color:rgb(171, 203, 250);
            }
        }
        //Aplicar cor na linha (para melhor acompanhamento)
        &:nth-child(even){
            background-color: $cor-fundo-tabela;
        }
        
        td{
            font-size: 95%;
        }

        th, td{
            text-align: center;
            padding: 5px 0px;
            //border: 1px solid $cor-botao-primario;
            
            /*
            Regra específica para a primeira coluna
            */
            &:first-child{
                padding-left: 7px;
                text-align: left;
            }

            /*
            Regra específica para a ultima coluna
            */
            &:last-child{
                padding-right: 7px;
                text-align: right;
            }

            /*
            Para pegar uma coluna específica
                &:nth-child(3){
                    text-align: left;
            }*/
        }
    }
}

//Estilização dos cards
#cardsContatos{
    padding: 5px 0px;
    display: none;
    margin-top: 20px;

    //Cada div representa um card
    div{
        border: 1px solid $cor-borda;
        box-shadow: 2px 2px 2px $cor-borda;
        margin: 0px auto 10px auto;
        width: 90%;
        border-radius: 5px;
        padding: 12px 7px 7px 7px;

        span{
            font-family: $fonte-padrao;
            font-size: 80%;
            display: block;
            //identação 
            text-indent: 38px;

            //Deixando a inicial e o restando do nome na mesma linha
            &:first-child, &:nth-child(2){
                /*
                Elementos com display inline não podem receber configuração de margin.
                Caso você precise aplicar margem um elemento que possua exibição em linha 
                (display inline), altere o valor da propriedade display para inline-block
                */
                display: inline-block;
                font-size: 100%;
                margin-bottom: -5px;
                text-indent: 0px;
            }

            //inicial do nome
            &:first-child{
                background-color: $cor-botao-primario;
                color: white;
                padding: 9px 14px;
                border-radius: 50%;
                margin-right: 3px;
            }
        }
    }
}

/*
    Campo de filtro
*/
#filtro{
    margin: 25px auto 0px auto;
    display: block;
    border-radius: 20px;
    width: 50%;
    height: 38px;
    text-indent: 20px; //jogar mesmo valor do raio de borda
    border: 1px solid #ccc;
    outline: none;
    font-size: 95%;

    &:hover{
        border:none;
        box-shadow: 2px 2px 5px #ccc,
                    -2px -2px 4px #ccc;
    }
}

/*Exemplos: 600, 768*/
//pode deixar em uma folha separada também
@media only screen and (max-width: 600px){
    #cardsContatos{
        display: block;
    }
    #tabelaContatos{
        display: none;
    }
    #formularioContato{
        width: 88%;
        input{
            &[type=text],&[type=email]{
                width: 250px;
            }
        }
    }

    #filtro{
        width: 85%;
        font-size: 100%;
    }
}
