@charset "UTF-8";
/*no Saas, as varáveis iniciam com $*/
@font-face {
  font-family: "decorativa";
  src: url(../fonts/Satisfy-Regular.ttf);
}
@font-face {
  font-family: "padrao";
  src: url(../fonts/Muli-Regular.ttf);
}
body {
  margin: 0;
}

#header {
  background-color: #428bc7;
  padding: 10px 20px;
  margin-bottom: 10px;
}
#header * {
  display: inline;
  vertical-align: middle;
}
#header img {
  width: 80px;
  margin-right: 20px;
}
#header h1 {
  font-family: "decorativa";
  color: white;
  text-shadow: 2px 2px #555;
}

#formularioContato {
  padding: 10px;
  border: 1px solid #5cc1d8;
  width: 95%;
  margin: auto;
}
#formularioContato label, #formularioContato input {
  display: block;
  font-family: "padrao";
}
#formularioContato input {
  margin-bottom: 10px;
  height: 25px;
  font-size: 100%;
  /*Opcional*/
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  padding-left: 5px;
}
#formularioContato input[type=text], #formularioContato input[type=email] {
  width: 300px;
}
#formularioContato input[type=tel] {
  width: 150px;
}
#formularioContato input[type=date] {
  width: 150px;
}
#formularioContato input[type=submit] {
  padding: 10px 20px;
  /* none não funciona, inherit é o comportamento 
  padrão de altura dos componentes externos (form nesse caso)*/
  height: inherit;
  background-color: #2574a9;
  border: none;
  color: white;
}

#tabelaContatos {
  font-family: "padrao";
  margin-top: 20px;
}
#tabelaContatos table {
  border-collapse: collapse;
  margin: 0px auto 50px auto;
  width: 95%;
}
#tabelaContatos thead {
  background-color: #428bc7;
  color: white;
}
#tabelaContatos tr:hover td {
  background-color: #abcbfa;
}
#tabelaContatos tr:nth-child(even) {
  background-color: #cfdee7;
}
#tabelaContatos tr td {
  font-size: 95%;
}
#tabelaContatos tr th, #tabelaContatos tr td {
  text-align: center;
  padding: 5px 0px;
  /*
  Regra específica para a primeira coluna
  */
  /*
  Regra específica para a ultima coluna
  */
  /*
  Para pegar uma coluna específica
      &:nth-child(3){
          text-align: left;
  }*/
}
#tabelaContatos tr th:first-child, #tabelaContatos tr td:first-child {
  padding-left: 7px;
  text-align: left;
}
#tabelaContatos tr th:last-child, #tabelaContatos tr td:last-child {
  padding-right: 7px;
  text-align: right;
}

#cardsContatos {
  padding: 5px 0px;
  display: none;
}
#cardsContatos div {
  border: 1px solid #5cc1d8;
  box-shadow: 2px 2px 2px #5cc1d8;
  margin: 0px auto 10px auto;
  width: 90%;
  border-radius: 5px;
  padding: 12px 7px 7px 7px;
}
#cardsContatos div span {
  font-family: "padrao";
  font-size: 80%;
  display: block;
  text-indent: 38px;
}
#cardsContatos div span:first-child, #cardsContatos div span:nth-child(2) {
  /*
  Elementos com display inline não podem receber configuração de margin.
  Caso você precise aplicar margem um elemento que possua exibição em linha 
  (display inline), altere o valor da propriedade display para inline-block
  */
  display: inline-block;
  font-size: 100%;
  margin-bottom: -5px;
  text-indent: 0px;
}
#cardsContatos div span:first-child {
  background-color: #2574a9;
  color: white;
  padding: 9px 14px;
  border-radius: 50%;
  margin-right: 3px;
}

@media only screen and (max-width: 600px) {
  #cardsContatos {
    display: block;
  }

  #tabelaContatos {
    display: none;
  }

  #formularioContato {
    width: 90%;
  }
}

/*# sourceMappingURL=estilos.css.map */
